[2016-12-22 20:18] srfraser opened #186 "Pulse Inspector UI, 'Clear Bindings' button disabled"
Loading https://tools.taskcluster.net/pulse-inspector/#!() in FF50.1.0, the 'Clear Bindings' button is enabled, until you add a Pulse Exchange and Routing Key Pattern. From then on, whether listening has been started or stopped, the 'Clear Bindings' button is disabled.

[2017-01-23 21:27] escapewindow opened #190 "deleting hook schedules is buggy"
@callek and I have noticed the following behavior:

- When we try to delete the only schedule from a hook, the trash button does nothing
- When we create a 2nd schedule on a hook, the trash button for the first item deletes the newly created 2nd item
 - @callek noticed that the trash button for the 2nd item deletes the first

I was thinking this might be either
- permissions: I didn't create the h

[2017-01-23 22:35] #190 closed

[2017-06-23 11:36] jhford opened #220 "Use EC2-Manager API to fetch instance state and summaries"
I've left the AWS Provisioner state method in place, but it's deprecated.  It really needs to be deleted because it causes a decent amount of overhead and adds a lot of complexity to the provisioner.

The `ec2-manager` [api](https://github.com/taskcluster/ec2-manager/blob/master/lib/api.js) is now the best sort of information about instance details.

We should use the `GET /v1/worker-types/:worker

[2017-06-23 21:00] gregarndt commented on #220
Would this fix the invalid dates on the ec2 resources tab?

[2017-06-27 22:50] helfi92 opened #222 "Quickly jump to a line number"
Presently when viewing the logviewer, you can only highlight one or many lines, not jump. To highlight, you have to change the URL then refresh the page.

It would be great to have a way to quickly jump to a line number. One neat way to do that is through the keyboard shortcut Cmd + L. This shortcut could show a prompt asking for the line number then send a prop `scrollToLine` to the logviewer com

[2017-07-03 10:37] jhford commented on #220
no, i have to make a change to the EC2-Manager for that. https://github.com/taskcluster/ec2-manager/issues/4

[2017-07-03 14:21] jhford commented on #220
See: https://github.com/taskcluster/ec2-manager/pull/16

[2017-07-03 20:14] marco-c opened #231 "Pulse Inspector UI is broken"
![immagine](https://user-images.githubusercontent.com/1616846/27806791-f23ed834-603c-11e7-808d-5d3f3b1efbce.png)

[2017-07-03 20:16] eliperelman commented on #231
@marco-c do you have any details about the parameters or bindings you used to produce this?

[2017-07-03 20:17] marco-c commented on #231
Any exchange and routing key pattern seem to have the same effect.
For example, exchange/taskcluster-queue/v1/task-group-resolved and #.

[2017-07-03 20:19] eliperelman commented on #231
@marco-c interesting, I don't seem to replicate. I wonder if this is a caching issue with the old site. Could you hard refresh/clear your cache, and try it again? If that doesn't work, could you post some details about browser versions, etc.?

[2017-07-03 20:30] marco-c commented on #231
I can still reproduce after clearing the cache. I'm using the latest Nightly on Linux.

[2017-07-03 20:31] eliperelman commented on #231
@marco-c ah ok, I think I may have found where this lies. I'll have a fix for you shortly.

[2017-07-03 20:48] eliperelman commented on #231
@marco-c ok, should be fixed in production, sorry about that!

[2017-07-03 20:48] #231 closed

[2017-07-03 20:54] marco-c commented on #231
Thanks!

[2017-07-14 19:01] jonasfj opened #253 "proposal: renaming files to look like routes...?"
@walac and I had a bit of a problem finding some redirects today...

It would be smart of we rename components after their url-route..? Or is there no way that would work...

like `src/views/one-click-loaner.js` be the redirect for `/one-click-loaner/#MoCWhMwpTtKxzbvWuMexrQ`...
and same for other tools...

Or would require splitting too many things?

[2017-07-14 19:13] djmitche commented on #253
I got tripped up by this today too (for 30 seconds..)

[2017-07-18 02:25] jonasfj opened #257 "Weird error message in task-inspector"
@helfi92 any ideas:
https://screenshots.firefox.com/NMKsbGPwBI01JrR8/tools.taskcluster.net

link: https://screenshots.firefox.com/NMKsbGPwBI01JrR8/tools.taskcluster.net

19:03 <rail-afk> any idea what is going on?
19:05 <rail-afk> I've seen this for tasks submitted via the old scheduler API and via in-tree scheduling

Maybe it has to do with the fact that the task doesn't have any runs yet...

[2017-07-18 02:26] jonasfj commented on #257
Credits to @escapewindow for finding this..

[2017-07-18 14:46] escapewindow commented on #257
Itym @rail :)

[2017-07-18 15:20] djmitche opened #261 "Logins reset page state"
The process of using tools used to be:
 * Navigate to the edit page, make changes, click a button
 * Get an error because you're not logged in
 * Login (page changes to show login)
 * Click the button again

Now, logging in resets the page to its default status based on the route, deleting all of the information I had entered.

[2017-07-18 18:46] #257 closed

[2017-07-18 18:48] jonasfj commented on #257
Lol, sorry I mixed up rail and aki :)

[2017-07-31 15:28] eliperelman commented on #253
Files are named by their components, not their routes. Routes can change, and a single component may have multiple routes or none at all, and that would make them confusing or inconsistent. We have gone through a lot of work to decouple components from routes and that will continue to be the case.

[2017-07-31 15:30] eliperelman commented on #261
I don't think this is the case for all pages, but there could be some where we blindly reset things if any props change, which credentials could be a part of on those pages.

[2017-07-31 17:26] djmitche commented on #253
On further reflection, I noticed that some components are in src/components and some are in src/views, and it seems sort of arbitrary between the two.  For example, `src/views/SecretManager/SecretEditor.js` vs `src/components/ClientEditor/index.js`.  Maybe moving everything into components, either in `<name>/index.js` or `<name>.js`, would help..

[2017-07-31 17:44] eliperelman commented on #253
That is entirely possible. Right now the distinction is that components rendered into pages are in `views`, and components that are view-agnostic are in `components`. Several `views` have many nested components that could probably be moved into `components`, but aren't really useful outside their view. There isn't really anything stopping these from being moved into `components`.

I prefer to keep

[2017-08-09 18:39] escapewindow opened #271 "two 3000+ task taskgroup inspectors hang nightly"
I'm hoping to be able to open 2-3 active nightly graphs without having a hung browser. It's possible this is a nightly issue, and possible it's a tools.tc.net issue, and certainly possible that both could use improvements.

[code]

We just unified the two views (task inspector / taskgroup inspector) which is an overall win for UX. Hanging when I'm viewing a single task + a second taskgroup isn't i

[2017-08-11 14:34] eliperelman commented on #253
Closing, we can address this in the future if it becomes a problem.

[2017-08-11 14:34] #253 closed

[2017-08-11 14:40] franziskuskiefer opened #275 "Follow log doesn't work"
Ticking the follow log box in "Run Logs" unticks itself when the log is updated.

[2017-08-11 14:54] eliperelman commented on #275
Hmm, I don't seem to replicate. Did you happen to scroll the container by chance?

[2017-08-11 14:59] djmitche commented on #275
I think this occurs when the log finishes, and it reloads lazy_backing.log.

[2017-08-11 15:04] eliperelman commented on #275
Ah ok, I see the problem.

[2017-08-12 01:30] jonasfj opened #278 "tool to expand scope or set of scopes"
Say I have a role like: `assume:repo:github.com/glandium/git-cinnabar:branch:master` and I want to know what scopes it gets... I need to call `auth.expandScopes` it would be nice to have a tool for this...

Note: `assume:repo:github.com/glandium/git-cinnabar:branch:<branch>` is basically a pattern made up by tc-gh...

[2017-08-12 01:38] jonasfj commented on #278
This is just a nice-to-have quick hack.. Nothing important :)

[2017-08-14 09:02] franziskuskiefer commented on #275
Is this in production yet? I still have the same issue.

[2017-08-14 13:07] djmitche commented on #278
The pattern is actually documented as a Taskcluster convention in the namespaces document, and is also supported by mozilla-taskcluster.

[2017-08-14 14:48] eliperelman commented on #275
@franziskuskiefer this particular patch is, but if you are still experiencing this, could you please provide more details about the circumstances, or possibly steps to replicate? Thanks.

[2017-08-14 14:54] franziskuskiefer commented on #275
Take for example task [LhS8sZkcSJu3bb3_h6uUsQ](https://tools.taskcluster.net/groups/LhS8sZkcSJu3bb3_h6uUsQ/tasks/LhS8sZkcSJu3bb3_h6uUsQ/runs/0/logs/public%2Flogs%2Flive.log). Looking at the Run Logs tab and setting the Follow log doesn't work for me (you can retrigger it to test). The follow log tick disappears every time the run log content is scrolled.
So another test case is just enabling follo

[2017-08-14 14:55] eliperelman commented on #271
Here's the code for the loading of tasks, which is a recursive call:

https://github.com/taskcluster/taskcluster-tools/blob/65f7f1237cd701873ce350327c3c9df1cea8ef68/src/views/UnifiedInspector/Inspector.js#L134

Upon looking at this, I do notice a couple problems:

- The `updateLocalHistory` and `createGroupListener` is done every iteration, and should probably only be done if there is no `token`.

[2017-08-14 14:59] eliperelman commented on #275
This is expected. We purposefully shut off the following of the log if you scroll it since if you scroll, you are desiring to not be kept at the bottom of the log.

[2017-08-14 15:33] franziskuskiefer commented on #275
Ok, but it's also disabled when I click it the first time and it jumps down to the bottom.

[2017-08-15 12:48] franziskuskiefer commented on #275
![follow-log](https://user-images.githubusercontent.com/890105/29316558-c8b8a5dc-81c8-11e7-9d38-322ee905916a.gif)

[2017-08-15 15:05] eliperelman commented on #275
@franziskuskiefer can you provide details on what browser, version, and OS you are using?

[2017-08-15 15:14] franziskuskiefer commented on #275
This is Firefox Nightly (any recent version) on Arch Linux x64.

[2017-08-15 22:58] jonasfj commented on #278
I probably have no excuse for being too lazy to lookup the right docs...

But yes, namespaces document is where I should look.. still it's nice to be able to expand scopes.

[2017-08-15 23:59] djmitche commented on #278
Yes, I was only disagreeing with your second paragraph.  I agree with the first :)

[2017-08-17 13:12] gregarndt commented on #275
I have experienced this with both Nightly and DevEdition but not on Chrome.  it seems that as the log is streaming the box can't be selected at all.  If the log is slowly streaming (some pauses in between chunks), it looks like I can select the checkbox, it will follow that current chunk displayed, but when new text is rendered the checkbox is unchecked and it stops following

[2017-08-22 18:15] escapewindow opened #284 "feature request: filter on label"
We have filters for running/pending/completed etc, which are helpful.

Given a 3000+ task graph, it's not always enough. If I want to look at all the windows l10n in a running graph, it can be frustrating to have tests or completing linux or mac jobs shifting the task view... I'll probably open another issue about that. It's also nice if I want to view those 20ish tasks, no matter what state they'

[2017-08-22 18:21] escapewindow opened #285 "don't scroll current tasks off screen"
Given a 3000+ task view, sometimes I find the task I care about before the entire task graph is loaded. Then I click on it to view it, but right before I click, 100 more tasks load and the task shifts off screen, and I click on a different task. Then I have to go back, and find the task, and either wait for all 3000+ tasks to load, or try the task-click-lotto again.

I'd love if we could load the

[2017-08-22 18:24] escapewindow commented on #285
#284 will probably help, since I would have fewer tasks to sort through to find the one I want.

[2017-09-12 19:37] escapewindow commented on #271
Filed on the Fx side as [bug 1399229](https://bugzilla.mozilla.org/show_bug.cgi?id=1399229) .

[2017-09-20 14:55] helfi92 commented on #275
@franziskuskiefer Has the issue been resolved?

[2017-09-20 14:58] helfi92 opened #310 "Inspector is not auto-updating the state of a task"
When you have a task that takes a while to resolve for example, the task inspector is not updating the state of that task when it changes. This is not the wanted behavior.

[2017-09-20 15:01] djmitche commented on #310
Would adding some console logging help, so that after-the-fact users can copy/paste the contents of the console to help debug?

[2017-09-20 15:07] franziskuskiefer commented on #275
I think so. It's working for me now.

[2017-09-20 15:18] helfi92 commented on #275
\o/

[2017-09-20 15:25] helfi92 commented on #310
Sometimes in pages like the task group, there's a lot of event messages being triggered (e.g., new artifact created, new status, etc..). I have a feeling this might cause issues for us when trying to use the web console to develop new features. I personally use a lot of console.log when working on new features and I wouldn't like my web console to be populated. If somehow we could only have those

[2017-09-20 19:41] djmitche opened #311 "Make Credentials menu collapse on select"
In theory, react-bootstrap [supports this now](https://react-bootstrap.github.io/components.html#navbars-mobile-friendly) but in practice, it doesn't seem to work.

You can see the issue by selecting one of the "Sign In" options on the "Sign In" menu.  A new window opens, but if you go back to the original window, there's the menu still hanging out, open.

[2017-09-20 19:41] djmitche commented on #311
P.S. don't work on this until http://bugzil.la/1395358 is closed.

[2017-09-26 01:29] helfi92 commented on #310
@eliperelman Any idea why the inspector stops updating sometimes. For some reason, messages from the queue are not being catched anymore. I looked into it but can't seem to figure it out.Btw, this issue seems to happen on the "Task Group" tab as well.

[2017-09-27 17:58] eliperelman commented on #310
I'm hoping this gets fixed by #321, we will have to wait and see if this indeed brings resolution.

[2017-09-27 18:05] eliperelman commented on #261
We should re-investigate this now that the new AuthController has landed.

[2017-09-27 18:09] djmitche commented on #261
I was mildly careful in adjusting that that *most* pages now only update if the new UserSession and the old satisfy `UserSession.userChanged`, which should roughly correspond to a sign-in or sign-out event.

I don't remember which page I saw this on originally.  I think we can close it for now and I'll re-open if i see it again.

Also, Auth0 (now that it actually renews!) will help by not making p

[2017-09-27 18:09] #261 closed

[2017-09-27 21:41] Rob--W opened #324 "Cannot use interactive connect: a.resume is not a function"
I tried to connect to an interactive task, `https://tools.taskcluster.net/tasks/XXXX/connect`, but I only see an eternally spinning taskcluster logo.

The JS console shows: a.resume is not a function

I stepped through a JS debugger, and found that is caused by this line:

https://github.com/taskcluster/taskcluster-tools/blob/a793bf234447eba782fb5599f45df31374ee5107/src/views/InteractiveConnect/In

[2017-09-27 21:56] eliperelman commented on #324
Ugh, I'm sorry, I'll get that fixed stat.

[2017-09-27 21:59] #324 closed

[2017-09-27 22:00] eliperelman commented on #324
Should go live in about 10 minutes. Thanks for your patience here.

[2017-09-27 22:07] Rob--W commented on #324
Thanks for the speedy fix and roll-out. I'm impressed.

[2017-09-27 22:08] eliperelman commented on #324
:heart:

[2017-10-01 14:46] prachi1210 opened #337 "Placement of `new hook` and `refresh` in hooks manager"
In the hooks manager, the option for creating a new hook or refreshing the hooks list moves to the end of the page as new hooks keep getting added and user needs to scroll to the bottom of the page.

<img width="397" alt="hooks manager" src="https://user-images.githubusercontent.com/14016564/31055750-20dba1b0-a6e5-11e7-9e14-aa70ae9814fa.png">

In my opinion, the UI would be more intuitive if the b

[2017-10-01 15:27] djmitche commented on #337
I agree, but I'd like to hear from @helfi92 or @eliperelman too.

In fact, this is an issue with many of our tools -- client and role editors, secrets, and aws provisioner, to name a few.

[2017-10-02 14:49] eliperelman commented on #337
I disagree, but for a different reason. In my mental concepts for a re-designed Tools, I want to have the actions be fixed buttons at the bottom of the screen, where the content scrolls underneath so they are always visible and interactive. This also plays really well with mobile, so actions can be triggered easily using the thumb.

![pic](https://cldup.com/HMBw4mLDqf.png)

[2017-10-06 01:47] jonasfj opened #353 "Inspector creates a task and a group listener"
https://github.com/taskcluster/taskcluster-tools/blob/master/src/views/UnifiedInspector/Inspector.js

We should just probably only create one listener...
Ie. listen for all events that has to do with the given taskGroupId, since we're always loading the full task group anyways right?

We don't have to listen for artifacts separately either... Just make a single pattern with the taskGroupId and bin

[2017-10-06 01:48] jonasfj commented on #353
Note: this is not high priority it just creates some noise in tc-events log, and in pulseguardian logs..

But I suspect it might also put a bit of load on the browsers, so it might be worth while fixing for better end-user experience.

[2017-10-27 03:05] nthomas-mozilla opened #369 "Inspector - filtered list of tasks isn't updated"
RelEng releaseduty spend time in the inspector to keep an eye on the state of release automation. The status bar seems to keep task counts for each state up to date, but the task list will get out of date. This regressed in the last week or so.

<img width="1153" alt="screen shot" src="https://user-images.githubusercontent.com/942272/32086215-1ee4669e-bb30-11e7-868b-bc6b5a6d90df.png">

Steps to re

[2017-10-30 21:10] helfi92 commented on #369
Resolved in #371 :)

[2017-10-30 21:10] #369 closed

[2017-10-31 01:02] nthomas-mozilla commented on #369
Thanks Hassan.

[2017-11-10 23:02] jonasfj opened #383 "`taskcluster signìn` integration doesn't extend expiration"
If the `.../cli` client exists and is expired, it just rotates the accessToken and that's it... The client I get back is still expired..

Note: We do set `deleteOnExpiration`, but I'm pretty sure that `taskcluster-auth` still waits a few days after expiration before deleting clients.

[2017-11-10 23:06] djmitche commented on #383
@helfi92 just wrote code to also update the expiration date.  I don't know if that's landed yet, given the change freeze?

[2017-11-10 23:44] jonasfj commented on #383
ah, awesome :)

[2017-11-11 13:15] djmitche commented on #383
Ah, #381.

[2017-11-11 13:15] #383 closed

[2017-11-16 18:39] lissyx opened #387 "Expose dependencies short name and current icon status"
When I am looking at a task that has dependencies, as of now:
![screenshot-2017-11-16 deepspeech packages 1](https://user-images.githubusercontent.com/1645737/32909004-a3e78382-cb05-11e7-8d52-ba5ab4120419.png)

We only have a list of taskId. It makes it hard to track the current status of them. It would be cool if we had, in addition:
 - dependency's short name
 - current status of the dep (unsche

[2017-11-17 17:46] lissyx opened #391 "Filter on task state for Worker Explorers"
Analyzing the status of current workers, especially those on aws-provisioner, it's hard to get information, because of the X-elements per page limitation. Being able to filter on the task state, e.g., "running" would allow me to easily track the status.

[2017-11-22 22:01] jonasfj opened #395 "option to sort clients by `lastDateUsed`"
This would make it easier to kill old unused clients...

[2017-11-22 22:04] jonasfj opened #396 "Show all clients you have scope to manage"
We have some heuristic to create a default filter on clients in the client inspector...

I suggest we make a checkbox "show clients you can manage" (or some better wording).

But it being so that it uses the scopes you have to determine which clientIds you can modify, and only shows you those clients... This requires the inspector to understand scopes used by taskcluster-auth.

Note, there is a pr

[2017-11-22 22:16] helfi92 commented on #395
I like this idea. I can take care of that soon.

[2017-11-24 14:04] helfi92 commented on #391
The list of workers used in that page are stored in Azure and it's currently hard to filter on a task state because the response is paged. We plan on storing the data in Postgres in the near future, hopefully making things easier to filter on.

[2017-11-27 14:35] djmitche commented on #396
I don't object, in principle, to tools modeling the scope requirements for API calls.  I like the idea of a button, too.

Currenty we don't *ever* look at the user's scopes and adjust the UI on that basis [*] -- we just blindly make the API call and show the resulting error.  I think our users would appreciate changing that behavior, but if we do so we should do it consistently through all of the

[2017-11-27 16:44] eliperelman commented on #396
This probably won't happen immediately in the photon work, but long-term, yes, we want more UI guarded by scopes.

[2017-11-28 18:26] #395 closed

[2017-11-30 09:24] franziskuskiefer commented on #275
Looks like this is back? At least on Linux with Nightly scrolling is broken again for me.

[2017-11-30 21:00] helfi92 commented on #275
@franziskuskiefer It's working for me on Nightly with macOS. Could you provide more information perhaps on how I could perhaps replicate.

[2017-12-01 07:27] franziskuskiefer commented on #275
@helfi92 right it's working for me on macOS as well. But not on Linux. So this might as well be some Nightly issue. Can you try to reproduce with Nightly on Linux?

[2017-12-01 13:34] djmitche commented on #275
I'll try

[2017-12-01 14:08] djmitche commented on #275
It works for me -- I just ran the default task from "task creator" which prints 600 digits, one per second, and with "follow log" checked, it indeed follows.

It still has that somehow-incurable horizontal scrollbar covering the last line, but I've given up reporting that issue as it seems to never stay fixed.

[2017-12-01 14:08] #275 closed

[2017-12-04 22:37] rail opened #404 "Use `slugid` from taskcluster-client-web"
https://github.com/taskcluster/taskcluster-tools/blob/9121a7fa196fd13ff81af312b6c336675139abb7/src/views/TaskCreator/TaskCreator.js#L5 uses `nice()` from slugid, which is a Node package (it uses Buffer, which is undefined in browsers).

See also https://github.com/taskcluster/taskcluster-client-web/issues/19

[2017-12-04 22:58] rail commented on #404
Probably it works because of https://github.com/taskcluster/taskcluster-tools/blob/9121a7fa196fd13ff81af312b6c336675139abb7/.neutrinorc.js#L84, but I'll leave the decision to you.

[2017-12-05 15:18] eliperelman opened #406 "Remove all references to `slugid` or `nice` in favor of methods exposed in taskcluster-client-web"
The `slugid` package should no longer be used by tools anywhere. Instead, we should be pulling `v4` and `nice` slugs from taskcluster-client-web.

[2017-12-05 15:45] eliperelman commented on #406
Oh, this is a duplicate.

[2017-12-05 15:45] #406 closed

[2017-12-06 14:03] #387 closed

[2018-01-08 21:21] jonasfj opened #419 "pulse-inspector: this.listener.pause is not a function"
This probably a bug in: https://github.com/taskcluster/taskcluster-client-web
where the pause function isn't implemented...

[2018-01-08 22:50] #419 closed

[2018-01-22 13:28] jhford opened #426 "Terminate instances buttons need to use the correct provisioner id"
In the staging instance of the provisioner UI, all the links for the Terminate buttons use the wrong provisioner base url

`https://tools.taskcluster.net/aws-provisioner-staging/gecko-1-b-linux/resources`

calls

`DELETE https://ec2-manager.taskcluster.net/v1/worker-types/gecko-1-b-linux/resources`

When it should be calling

`DELETE https://ec2-manager-staging.taskcluster.net/v1/worker-types/geck

[2018-01-22 15:01] #426 closed

[2018-01-22 15:19] eliperelman commented on #404
This should have been fixed in #407.

[2018-01-22 15:19] #404 closed

[2018-01-23 15:42] jhford opened #428 "AWS-Provisioner work for new spot model"
There are a bunch of small changes we should be making to the AWS-Provisioner page.  Not sure if you'd rather have these split into smaller issues, but as they're likely tiny patches it's probably reasonable to do in one PR.

Roughly speaking, spot-requests are no longer tacked anywhere by us, so we should remove them from the UI completely.  Basically, the regexp `[Ss]pot[- ][Rr]equest` should no

[2018-01-23 18:34] helfi92 commented on #428
@jhford On top of removing any mention of spot requests in the tooltip, I assume you also don't want the bar graphs to show the blue bar (spot request capacity). Can you confirm?

[2018-01-23 18:51] jhford commented on #428
Yep!

[2018-01-23 18:52] helfi92 commented on #428
Cool, thanks!

[2018-01-25 13:29] Biboswan commented on #278
Can I work on this.

[2018-01-25 15:05] djmitche commented on #278
Yes!  I think this would be an additional view which can take a list of scopes and expand it.

[2018-01-28 13:19] Biboswan commented on #278
I 'm trying ```` await this.props.auth.expandScopes({ scopes: this.state.scopes }) ```` where scopes is an array

Getting error:
[code]
https://docs.taskcluster.net/reference/platform/taskcluster-auth/references/api#expand-scopes

[2018-01-28 17:48] djmitche commented on #278
Uh, wow.  So that API call isn't valid HTTP.  That was really stupid of me.

[2018-01-28 17:54] djmitche commented on #278
So it sounds like you're on the right track!  Once the change linked above lands, we'll need to upgrade taskcluster-client-web in tools, and then the call you're making should work properly.

[2018-01-30 10:46] Biboswan commented on #278
I see only taskcluster-client-web/src/clients/Auth.js needs an update.

[2018-01-30 10:46] Biboswan commented on #278
Anything else?

[2018-01-30 12:49] #428 closed

[2018-01-30 13:30] djmitche commented on #278
https://github.com/taskcluster/taskcluster-client-web#updating-built-in-apis shows how to update the client and make a PR.  I'll try to get to that today, but if you beat me to it and make a PR that's great too :)

[2018-01-31 17:50] djmitche commented on #278
OK, if you `yarn add taskcluster-client-web@5.1.0` you should get a working
expandScopes.

[2018-01-31 18:09] eliperelman commented on #278
You can shorten that to `yarn add taskcluster-client-web`.

[2018-01-31 18:10] Biboswan commented on #278
Now I'm getting expandScopes response successfully.:)

[2018-02-02 20:13] Biboswan commented on #353
Is the main part of the issue live yet ?

[2018-02-02 21:42] jonasfj commented on #353
I'm not sure what you mean? Can you elaborate a bit...

[2018-02-03 06:51] Biboswan commented on #353
Oops... :). I wanted to work on this issue, unify listener.

On Feb 3, 2018 3:12 AM, "Jonas Finnemann Jensen" <notifications@github.com>
wrote:

[2018-02-03 06:52] jonasfj commented on #353
Awesome... I don't think anyone else have touched it, so by all means give
it a try... I'm not sure how complicated it is...

On 2 Feb 2018 22.51, "Biboswan Roy" <notifications@github.com> wrote:

[2018-02-04 11:50] Biboswan commented on #353
I think there is nothing like listener.unbind

[2018-02-04 21:50] jonasfj commented on #353
True, you have to stop listening and create a new listener...

In future we might get that, that I filed an RFC for someone to rewrite
taskcluster-events and add unbind support. I think this will be a GSoC
proposal if we get a slot..
See: https://github.com/taskcluster/taskcluster-rfcs/issues/104

--
Regards Jonas Finnemann Jensen.

2018-02-04 3:50 GMT-08:00 Biboswan Roy <notifications@github.com>

[2018-02-06 17:28] #310 closed

[2018-02-14 05:09] bessii commented on #311
hello, i would love to work on this issue. Any suggestions on the best way to go about it?

[2018-02-14 12:44] eliperelman commented on #311
@bessii hello! To fix this, each of the menu items here needs to close the menu before doing their action:

https://github.com/taskcluster/taskcluster-tools/blob/master/src/components/CredentialsMenu/index.js#L80

[2018-02-15 13:48] helfi92 commented on #222
Implemented in https://github.com/taskcluster/taskcluster-tools/pull/288.

[2018-02-15 13:48] #222 closed

[2018-02-15 18:21] eliperelman opened #447 "Test issue from Rollbar"
This is a test issue created by Rollbar. If you can see this, it works!

[2018-02-15 18:21] #447 closed

[2018-02-19 22:02] yash-iiith commented on #311
Hi. I am working on this issue. I added a boolean variable which denotes whether the dropdown menu is opened or not. Initially it is false. When the Sign-in is clicked, its value is toggled and the menu is displayed. When any of the menu item is clicked, I toggle the value of the boolean variable again. But this approach does not seem to work. Please guide me on this.

[2018-02-20 13:47] djmitche commented on #311
@yash-iiith it looks like @bessii is already tackling this -- it's usually polite to ask before jumping into a task that someone else is already working on.

That said, it's hard to guide you on what might not work with that approach without seeing the code.  Can you post a PR?

[2018-02-20 20:17] yash-iiith commented on #311
@djmitche I apologise for jumping into it.

[2018-02-23 17:37] Biboswan commented on #353
Left working on this just thought no around is available at the moment. But looking into this issue again and not sure yet but i think including `channel.unbindQueue`  from  amqplib https://github.com/taskcluster/taskcluster-client/blob/master/src/pulselistener.js is a way to add unbind feature for the weblistener atleast.

[2018-02-27 17:10] djmitche commented on #337
It sounds like this isn't a good issue to work on right now, pending the redesign..

[2018-02-27 17:10] #337 closed

[2018-03-02 15:25] jhford opened #475 "Support provisioning health and error reporting in aws-provisioner tools pages"
We've talked about this in an email thread, but I wanted to get the issue on file.  The supporting work in the EC2-Manager service has been completed, awaiting deployment to our production instance.  All URLs are pointing at our staging instance.  I'm also working on figuring out why we're not getting API references to publish for the EC2-Manager.  These are the changes that I think we should make

[2018-03-04 00:29] djmitche commented on #311
Moved to https://bugzilla.mozilla.org/show_bug.cgi?id=1442937.  @bessii are you still working on this?

[2018-03-04 00:29] #311 closed

[2018-03-08 10:06] whimboo commented on #475
Those details would be great to see. We just had a situation when lots of workers didn't get provisioned and it was not that clear what's going on by just looking at https://tools.taskcluster.net/aws-provisioner/. So links to health and error pages would be very helpful. Thanks!

[2018-03-08 10:36] grenade commented on #475
+1 yes please! this will be super useful for diagnosing windows/occ ami issues too.

[2018-03-08 14:49] petemoore commented on #475
This will indeed be useful for me too - and hopefully allows sheriffs / others to better self-serve, which will also free up a lot of the time we currently spend supporting and troubleshooting on behalf of others. +++

[2018-03-08 16:30] helfi92 commented on #475
I can take care of complementing the UI. Thanks John for your work in
EC2-Manager.

On Thu, Mar 8, 2018 at 9:49 AM, Pete Moore <notifications@github.com> wrote:

[2018-03-08 17:50] jhford commented on #475
great \o/

Also, I wanted to mention that the EC2-Manager API references are now being published, so you should be OK to generate a new tc-client-web package to include it.  It's in the standard manifest.json file.

[2018-03-08 19:31] jhford commented on #475
Oh, and one thing I wanted to mention is that there's fields which have a `----- HIDDEN -----` placeholder.  Please render them in the UI, they might change into full error messages later on.

[2018-03-26 08:48] garbas opened #510 "notify when all tasks complete"
currently there is a checkbox that notifies you when task fail it would be very useful to also have a checkbox that would notify when every task in a taskgroup is completed.

[2018-03-26 08:52] garbas opened #511 "notify on task failures should not happen on reruns"
monitoring a big task graph (eg. mozilla central) you receive a lot of failures for later successful reruns.

would it be possible to wait with notification until reruns are exhausted?

[2018-04-03 13:16] JohanLorenzo commented on #271
I've been noticing such an issue for about a month, but I hadn't thought this is because of Task Group inspector, until last Friday. I'm on Linux, I thought this was a system issue, until I realize a text editor didn't show the symptom below:

## Symptoms
Type some in text in a text field of whatever page and notice the input stops from time to times. From times to times, the input hangs. Sometime

[2018-04-03 13:41] eliperelman commented on #271
Thanks for the detailed information! You're right that a lot of this comes down to fetching and rendering too much data. While we could spend a lot of time trying to optimize this for displaying all the data we are fetching, we are actually going to tackle this another way: fetching less data.

We are iterating a new version of the web app [1] that speaks with our own gateway to the Taskcluster AP

[2018-04-03 13:52] julienw commented on #271
Hey @eliperelman !

Clearly rendering less data will make the problem less present.

May I suggest to at least implement the change in https://github.com/taskcluster/taskcluster-tools/blob/e8b6d45f10e7520f717b7a9f5db87d550c74d15e/src/views/UnifiedInspector/Inspector.jsx#L211 ?

I think you'd need to extract this part into a PureComponent too: https://github.com/taskcluster/taskcluster-tools/blob/e

[2018-04-03 13:56] eliperelman commented on #271
I certainly think that's reasonable! @helfi92 thoughts?

[2018-04-03 21:00] helfi92 commented on #271
For https://github.com/taskcluster/taskcluster-tools/blob/e8b6d45f10e7520f717b7a9f5db87d550c74d15e/src/views/UnifiedInspector/Inspector.jsx#L211

I believe it was done purposely so that we can keep the ordering of tasks whenever the listener calls `loadTasks`. When something changes in the response, we don't want to change the ordering of the tasks that are already there as this leads the user to

[2018-04-06 16:47] helfi92 commented on #475
We now have health and error reporting in aws-provisioner:

2 new views:
https://tools.taskcluster.net/aws-provisioner/recent-errors
https://tools.taskcluster.net/aws-provisioner/aws-health

New Health tab on the worker type detail:
https://tools.taskcluster.net/aws-provisioner/gecko-1-decision/health

[2018-04-06 16:47] #475 closed

[2018-04-06 17:27] djmitche commented on #475
Given the "Health" tab, is it worth getting rid of the empty "Status" tab?

[2018-04-06 18:03] jhford commented on #475
hmm, that shouldn't be empty :(

[2018-04-06 18:04] helfi92 commented on #475
I'll investigate.

[2018-04-06 18:07] helfi92 opened #517 "Status tab on the worker type detail is empty"
Example: https://tools.taskcluster.net/aws-provisioner/gecko-1-b-linux/

This must be some sort of regression.

[2018-04-10 12:46] #517 closed

[2018-05-17 21:19] mjzffr opened #529 "Edit Client view should note expected format for entering a list of scopes"
i.e. State that it's expecting one scope per line under "Client Scopes". Or improve error messages about incorrect scopes.

I ran into some silly confusion because I was separating scopes with comma. See https://bugzilla.mozilla.org/show_bug.cgi?id=1462459

[2018-07-18 09:16] glandium opened #547 "Tools UI blocks when actions.json is missing context"
I forgot to add a context is my first attempt at writing an actions.json, and that completely blocked the tools.tc.net UI on the taskgroup: https://tools.taskcluster.net/groups/A889YN3qTjiHyUhiI46ezA

[2018-07-18 10:09] glandium opened #548 "actions.json is not fully validated before trying to trigger actions"
I had an `actions.json` that was missing the `variables` field completely. That led to the following error when trying to trigger an action:
[code]

which is not really helpful.

Thankfully, the js debugger got me to:
https://github.com/taskcluster/taskcluster-tools/blob/master/src/views/UnifiedInspector/ActionsMenu.jsx#L447

It turns out `actions` is used without validation of its schema, and `va

[2018-07-18 11:35] djmitche commented on #548
We already have Ajv in tools, so this shouldn't be much to add.

The schema is in [taskcluster-references](https://github.com/taskcluster/taskcluster-references) so could be downloaded with a libUrls reference.

This would fix #547 too.

[2018-07-18 11:54] glandium commented on #548
Or not, the schema doesn't list context as required.

[2018-07-18 16:15] djmitche commented on #548
Hm, it probably doesn't work for https://taskcluster.net!  Hm, and it doesn't appear to be on https://taskcluster.imbstack.com/schemas/ either.  I suspect this is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1476420.

[2018-07-18 17:46] djmitche commented on #548
OK, http://schemas.taskcluster.net/common/action-schema-v1.json exists now.  That's `libUrls.schema('https://tasklcuster.net', 'common', 'action-schema-v1.yml')` (not `'references'`).

[2018-07-18 17:53] eliperelman commented on #548
s/tasklcuster/taskcluster/

[2018-07-19 16:09] #548 closed

[2018-10-16 16:56] helfi92 opened #574 "Travis failed to deploy"
https://travis-ci.org/taskcluster/taskcluster-tools/builds/442179673#L679

[2018-10-16 16:56] helfi92 commented on #574
@djmitche Are you aware of anything that may have changed?

[2018-10-16 17:05] djmitche commented on #574
Nothing I've touched :)

[2018-10-16 17:05] djmitche commented on #574
Looks like an auth thing.. maybe check in with @moz-hwine ?
[code]

At a guess, maybe Eli was removed, and it was linked under his account?

[2018-10-16 17:28] djmitche commented on #574
Yeah, but involves a Heroku API key in a Travis secret.

[2018-10-16 17:29] eliperelman commented on #574
This was changed when I left.

https://github.com/taskcluster/taskcluster-tools/commit/e48af3b06e32d33a5191b52ed684606372f16ee8

[2018-10-16 17:30] djmitche commented on #574
OK, you're off the hook :)

@helfi92 was that API key deleted or something?

[2018-10-16 17:35] helfi92 commented on #574
Ahhh, I suspect `helfi92@gmail.com` was disabled access recently because of the transition to SSO login on Heroku. I'll generate a new one.

[2018-10-16 17:39] helfi92 commented on #574
Hm, actually I'm not sure anymore. The API key is generated via GitHub which has helfi92@gmail.com as my email.

[2018-10-16 18:53] #574 closed

[2018-10-18 18:16] marco-c opened #577 ""Trigger context is not valid YAML" when the trigger context is invalid, even though it is JSON"
The trigger context is JSON. If you write invalid JSON, a "Trigger context is not valid YAML" message is shown instead of "Trigger context is not valid JSON".

[2018-10-18 18:17] marco-c opened #578 "The textarea to edit the trigger context is too small"
It makes it very difficult to see what you're writing.

[2018-10-18 18:18] marco-c opened #579 "Wrong syntax highlighting with escaped double quotes"
[code]

![screenshot_2018-10-18 taskcluster](https://user-images.githubusercontent.com/1616846/47175232-f3536100-d312-11e8-92ac-2c896107cd38.png)

[2018-10-18 18:39] #577 closed

[2018-10-29 21:24] hwine opened #587 "New Heroku API key needed (yes, again)"
The key committed in #575 will not actually work after cutover to SSO. A new API key from a service account will be needed.

I'm sending emails to @helfi92 & @djmitche with details on approach. There need not be any downtime following those instructions.

[2018-11-01 22:46] helfi92 commented on #578
Could you post a screenshot or a link of the editor you are referring to, please?

[2018-11-01 23:35] marco-c commented on #578
Sorry for the lack of details, I assumed there was a single place where you could edit the trigger context :smiley:

I'm talking about the editor that opens up if you load a hook page (such as https://tools.taskcluster.net/hooks/project-releng/services-staging-codecoverage%2Fbot) and then press "Trigger Hook" at the bottom of the page.

[2018-11-05 10:44] marco-c opened #588 "Two Taskcluster top bars when connecting to a shell"
![screen](https://user-images.githubusercontent.com/1616846/47993600-260d9f80-e0f0-11e8-956d-cab8881749de.png)

[2018-11-05 14:43] edmorley commented on #587
Out of curiosity, what are the reasons for deploying from Travis rather than using Heroku's GitHub integration?

(I can think of one: being able to speed up the deploy slightly since re-uses the assets built on Travis, however now that builds are much faster with Neutrino 9 the benefit will be much less and so perhaps not worth the security/hassle trade-off)

[2018-11-05 14:52] helfi92 commented on #587
taskcluster-tools doesn't use Neutrino v9. fwiw, we plan to move to taskcluster-web (uses neutrino v9) in the near future.

[2018-11-05 14:58] helfi92 commented on #588
I believe this is fixed in taskcluster-web (a rewrite of tc-tools). https://taskcluster-web.netlify.com.

![screen shot 2018-09-25 at 9 34 54 am](https://user-images.githubusercontent.com/3766511/46019264-ac72a280-c0a9-11e8-9b7b-95ce349c92ae.png)

[2018-11-05 15:01] edmorley commented on #587
Ah yes. But taskcluster-tools could still switch to using the more conventional Heroku GitHub integration in the meantime (at a slight deploy-time regression) right? And then either later upgrade to Neutrino 9, or else wontfix in favour of switching to taskcluster-web depending on the expected timeframe for it being ready.

[2018-11-05 15:13] helfi92 commented on #587
This sounds good to me.

[2018-11-05 18:05] hwine commented on #587
@helfi92 I'm confused about which "this" this is ;)  -- if you no longer need the heroku service account, please let me know in [bug 1504696](https://bugzilla.mozilla.org/show_bug.cgi?id=1504696)

[2018-11-05 18:08] helfi92 commented on #587
Commented.

[2018-11-07 15:38] helfi92 commented on #578
Thanks for elaboring. This is fixed in taskcluster-**web** where the user has the full view to edit the trigger context.

![screen shot 2018-11-07 at 10 36 24 am](https://user-images.githubusercontent.com/3766511/48141521-0fdf1b00-e279-11e8-8e96-2cd15527720f.png)

[2018-11-07 15:38] #578 closed

[2018-11-07 15:38] helfi92 commented on #588
Closing as WONTFIX here since this is fixed in tc-web.

[2018-11-07 15:38] #588 closed

[2019-01-24 21:47] helfi92 opened #597 "Taskcluster Web banner in the Task & Group Inspector view"
Let's add a way for users to try the new UI in the task & group inspector view.

[2019-02-14 14:23] #597 closed

[2019-03-30 18:00] Mozilla-GitHub-Standards opened #602 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-01 13:13] ccooper commented on #602
Fixed in place

[2019-04-01 13:13] #602 closed